In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from numpy import arange

In [4]:
aaa=pd.read_csv('World_Happiness_2016.csv')
bbb=pd.read_csv('World_Happiness_2015.csv')
aaa
bbb

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [22]:
bb1=bbb.iloc[:,0:4]
b=bb1.head(10)

In [26]:
aa1=aaa.iloc[:,0:4]
a=aa1.head(15)

In [27]:
a

,Country,Region,Happiness Rank,Happiness Score
0,Denmark,Western Europe,1,7.526
1,Switzerland,Western Europe,2,7.509
2,Iceland,Western Europe,3,7.501
3,Norway,Western Europe,4,7.498
4,Finland,Western Europe,5,7.413
5,Canada,North America,6,7.404
6,Netherlands,Western Europe,7,7.339
7,New Zealand,Australia and New Zealand,8,7.334
8,Australia,Australia and New Zealand,9,7.313
9,Sweden,Western Europe,10,7.291
10,Israel,Middle East and Northern Africa,11,7.267
11,Austria,Western Europe,12,7.119
12,United States,North America,13,7.104
13,Costa Rica,Latin America and Caribbean,14,7.087
14,Puerto Rico,Latin America and Caribbean,15,7.039

In [23]:
b

       Country                     Region  Happiness Rank  Happiness Score
0  Switzerland             Western Europe               1            7.587
1      Iceland             Western Europe               2            7.561
2      Denmark             Western Europe               3            7.527
3       Norway             Western Europe               4            7.522
4       Canada              North America               5            7.427
5      Finland             Western Europe               6            7.406
6  Netherlands             Western Europe               7            7.378
7       Sweden             Western Europe               8            7.364
8  New Zealand  Australia and New Zealand               9            7.286
9    Australia  Australia and New Zealand              10            7.284

In [28]:
col1=pd.concat([a,b])
col1

,Country,Region,Happiness Rank,Happiness Score
0,Denmark,Western Europe,1,7.526
1,Switzerland,Western Europe,2,7.509
2,Iceland,Western Europe,3,7.501
3,Norway,Western Europe,4,7.498
4,Finland,Western Europe,5,7.413
5,Canada,North America,6,7.404
6,Netherlands,Western Europe,7,7.339
7,New Zealand,Australia and New Zealand,8,7.334
8,Australia,Australia and New Zealand,9,7.313
9,Sweden,Western Europe,10,7.291
10,Israel,Middle East and Northern Africa,11,7.267
11,Austria,Western Europe,12,7.119
12,United States,North America,13,7.104
13,Costa Rica,Latin America and Caribbean,14,7.087
14,Puerto Rico,Latin America and Caribbean,15,7.039
0,Switzerland,Western Europe,1,7.587
1,Iceland,Western Europe,2,7.561
2,Denmark,Western Europe,3,7.527
3,Norway,Western Europe,4,7.522
4,Canada,North America,5,7.427
5,Finland,Western Europe,6,7.406
6,Netherlands,Western Europe,7,7.378
7,Sweden,Western Europe,8,7.364
8,New Zealand,Australia and New Zealand,9,7.286
9,Australia,Australia and New Zealand,10,7.284

In [29]:
row1=pd.concat([a,b],axis=1)
row1

,Country,Region,Happiness Rank,Happiness Score,Country,Region,Happiness Rank,Happiness Score
0,Denmark,Western Europe,1,7.526,Switzerland,Western Europe,1.0,7.587
1,Switzerland,Western Europe,2,7.509,Iceland,Western Europe,2.0,7.561
2,Iceland,Western Europe,3,7.501,Denmark,Western Europe,3.0,7.527
3,Norway,Western Europe,4,7.498,Norway,Western Europe,4.0,7.522
4,Finland,Western Europe,5,7.413,Canada,North America,5.0,7.427
5,Canada,North America,6,7.404,Finland,Western Europe,6.0,7.406
6,Netherlands,Western Europe,7,7.339,Netherlands,Western Europe,7.0,7.378
7,New Zealand,Australia and New Zealand,8,7.334,Sweden,Western Europe,8.0,7.364
8,Australia,Australia and New Zealand,9,7.313,New Zealand,Australia and New Zealand,9.0,7.286
9,Sweden,Western Europe,10,7.291,Australia,Australia and New Zealand,10.0,7.284
10,Israel,Middle East and Northern Africa,11,7.267,NaN,NaN,NaN,NaN
11,Austria,Western Europe,12,7.119,NaN,NaN,NaN,NaN
12,United States,North America,13,7.104,NaN,NaN,NaN,NaN
13,Costa Rica,Latin America and Caribbean,14,7.087,NaN,NaN,NaN,NaN
14,Puerto Rico,Latin America and Caribbean,15,7.039,NaN,NaN,NaN,NaN